@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #444;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}
.blue-text {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
nav {
	text-transform: uppercase;
	transition: background-color, 0.6s;
	z-index: 1;
	a {
		color: $white-color;
	}
	a:hover {
		color: $main-color;
	}

	.navbar-nav {
		a,
		i {
			color: $white-color;
		}
		a:hover {
			color: $main-color;
		}
	}
	.fa-bars {
		padding: 10px;
		color: $white-color;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.active {
		color: $main-color;
	}
}
header {
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/playstation640.jpg');
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		z-index: 0;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
		text-align: center;
		color: $white-color;
		height: 100%;
		z-index: 5;

		h1 {
			font-size: 30px;
			text-transform: uppercase;
		}
		p {
			font-size: 14px;
		}
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-chevron-down {
		position: absolute;
		font-size: 30px;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		color: $white-color;
	}
}
.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover {
		transition: color 0.4s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}
	.aboutus-next {
		.hero-img {
			position: relative;
			background-image: url(../img/technology-small.jpg);
			background-size: cover;
			background-position: center;
			color: $white-color;
			z-index: 0;
			
		}
		.hero-shadow {
			left: 0;
			top: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -10;
		}
		.aboutus-next-item{
			margin: 10px 0;

			i{
				font-size: 36px;
			}

			.aboutus-next-title{
				font-size: 24px;
			}
		}
	}

@media (min-width: 375px) {
	header {
		.hero-text {
			h1 {
				font-size: 36px;
			}
			p {
				font-size: 16px;
			}
		}
	}
}
@media (min-width: 768px) {
	header {
		.hero-text {
			h1 {
				font-size: 42px;
			}
			p {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}
	.aboutus-next{
		.hero-img {
			background-image: url(../img/technology-big.jpg);
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url(../img/playstation1920.jpg);
		}
	}
}
